<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ссылки на страницы сайта</title>
</head>

<body>
    <h1>Ссылки на страницы сайта</h1>

    <ul>
        <li><a href="http://burlakovshop.ru/about/" target="_blank">About</a> - обо мне</li>
        <li><a href="http://burlakovshop.ru/get_clients/" target="_blank">Clients</a> - таблица клиентов</li>
        <li><a href="http://burlakovshop.ru/get_products/" target="_blank">Products</a> - таблица товаров</li>
        <li><a href="http://burlakovshop.ru/get_orders/" target="_blank">Orders</a> - таблица заказов</li>
        <li><a href="http://burlakovshop.ru/edit_product/8/" target="_blank">ProductForm</a> - форма, изменение товара с id 8 с фото</li>
        <li><a href="http://burlakovshop.ru/show_order/7/" target="_blank">Show_product</a> - карточка товара с id 7</li>
        <li><a href="http://burlakovshop.ru/order_list/7/" target="_blank">Show_order</a> - карточка заказа с id 7</li>
        <li><a href="http://burlakovshop.ru/delete_client/26/" target="_blank">Client_del</a> - удаление клиента с id 26</li>
        <li><a href="http://burlakovshop.ru/delete_product/26/" target="_blank">Product_del</a> - удаление товара с id 26</li>
        <li><a href="http://burlakovshop.ru/delete_order/26/" target="_blank">Order_del</a> - удаление заказа с id 26</li>
    </ul>
</body>

</html>